<a href="https://colab.research.google.com/github/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython_Part2_Expression_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python _Part2

In this notebook, we will discuss expressions and operation in python. Expression describe an operation that computer perform. It include mathematical operation such as adding numbers **1+1** or logical operatation such as comparing to logical statement **True union False**

![](https://raw.githubusercontent.com/hindahmad431/Introduction_to_python/master/Pythons-Math-Module-Guide_Watermarked.webp)

## *1- Mathematical Operations*

* **Addition**

In [2]:
2 + 4

6

-----------------------------------------------------------------------------------------

* **Subtraction**

In [3]:
6 - 4

2

--------------------------------------------------------------------------------------------------

* **Multiplication** --> Using * symbol

In [4]:
4 * 2

8

------------------------------------------------------------------------

* **Division** --> Using / symbol

In [5]:
4 / 2

2.0

**Notice**: In Python 3, division operation always yields a float

For integer division, // symbol can be used to round up the result

In [8]:
4 // 2

2

In [13]:
7 // 2 # 3.5 is rounded up to 3

3

-------------------------------------------------------------------------

* **Mathematical Order**: Python follows the standred mathematical conventions when performing mathematical operations

![](https://raw.githubusercontent.com/hindahmad431/Introduction_to_python/master/1545819726_Order-of-Operations-in-expressions-PEMDAS.webp)

*As seen in the two examples below, python produce the same results even when the order of the operation have changed. However, when the addition operation was put inside a parentheses in the last example, python execute it first before the multiplication. The reason for this is that Parentheses has higher order than multiplication.*

In [16]:
3 + 4 * 2

11

In [17]:
4 * 2 + 3

11

In [18]:
(3 + 4) * 2

14

----------------------------------------------------------------------------

## *2- Variables*

a variable is a symbolic name associated with a value and whose associated value may be changed. You can assign any value to the variable and change it later. Variables are used as a container that save the data for reference.

In [21]:
A = 3 
print(A)

3

* **You can apply any mathematical operation on variables.**

In [30]:
num1 = 6
num2 = 2 

print(("Addition of variables = "), num1 + num2)
print(("Substraction of variables = "), num1 - num2)
print(("Multiplication of variables = "), num1 * num2)
print(("Division of variables = "), num1 / num2)

Addition of variables =  8
Substraction of variables =  4
Multiplication of variables =  12
Division of variables =  3.0

-------------------------------------------------------------------------

* **You can also apply addition on strings to concatenate two strings together (combine them).**

In [33]:
word1 = "Hello"
word2 = "World"

print(word1 + word2)

HelloWorld

**Notice**: Only addition operation can be done on strings!

------------------------------------------------------------------

* **You can also update the value of a variable as you wish.**

In [37]:
word1="Hi"

print(word1+word2)

HiWorld

**Notice**: Only word1 has been updated but word2 has remained with the same value since it wasn't updated!

-------------------------------------------------------------

* **You can save an operation in a variable.**

In [39]:
b = 4 
c = 5 

a = b + c 

print(a)

9

In [43]:
d = 1 + 5 - 8 
print(d)

-2

* **You can perfrom an operation with same variable inside its own definition to update its value**

In [44]:
x = 6 

x = x / 2

print(x)

3.0

----------------------------------------------

Naming the variables usually follows different rules depending on the programming languages. Spaces is not allowed in variables names in python, therefore, for two word variables it usually prefered to be separated using underscore such as First_num or by Capitalizing the second word such as FirstNum.

In [49]:
First_num = 1 #first number 
Total_hr = 45 # total number of hours

**Notice**: Naming is case sensitive in python meaning Num1 is different variable than num1

In [52]:
Num1 = 10 
num1 = "hello"

print("first word with captial letter -->", Num1)
print("second word with small letter -->", num1)

first word with captial letter --> 10
second word with small letter --> hello

**Notice**: special instruction for naming variables: 

1- Unlike java or c++, keywords such as **int, type, run.. etc** can  be used as variable name but it is not recommended as it may result in unwanted behavior.

In [57]:
type = 1 
print (type)

1

2- There are certain keyword that can't be used as variable name such as **if, else, for, import, def and many others**

3- Try to come up with variable name that is convnient to read and understand the data within it such as First_number. Eventhough naming variable **labhu14iili** is technically valid, it lead to confusion when reference that variable.

4- All special characters other than Underscore is not allowed "_". So, naming a variable **Num!** will result in an error.

---------------------------------

### For more information, refer to official Python cite https://www.python.org/dev/peps/pep-0008/

##The End 

#Thank you