<a href="https://colab.research.google.com/github/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython_Part4_List_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython4.png?raw=true)

## 1- Lists vs Tuples

#### Both lists and tuples are sequence data types that can store a collection of items. Each item stored in a list or a tuple can be of any data type And you can also access any item by its index.[1] 


<mark>**The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable.**</mark>

Let's create a simple list to illustrate this further. Lists are created using squere brackets **[ ]** where tuples are creates using squere brackets **( )**

In [45]:
Fruits = ['apple', 'orange','banana']

print(type(Fruits))
print ("The complete list: ", Fruits)
print ("The first item in the list: ", Fruits[0])
print ("The last item in the list: ", Fruits[-1])

<class 'list'>
The complete list:  ['apple', 'orange', 'banana']
The first item in the list:  apple
The last item in the list:  banana

Let's try to modify one item in the list..

In [46]:
Fruits[0] = 'Strawberry'

In [47]:
print (Fruits)

['Strawberry', 'orange', 'banana']

### **The list fruits has been updated sucessfully! meaning they are indeed mutable.**

We can concatenate lists together and update them using addition operation or the built in function **current_list.extend([new_list])**

In [39]:
A = [1,2.0,"HELLO"]

print("A before addition -->", A)

#-------------------------------------
B = ["Hi", 9.0]

A = A + B

print("A after addition -->", A)
#-------------------------------------
A.extend(["Welcome!"])

print("A after adding one element using extend -->", A)

A before addition --> [1, 2.0, 'HELLO']
A after addition --> [1, 2.0, 'HELLO', 'Hi', 9.0]
A after adding one element using extend --> [1, 2.0, 'HELLO', 'Hi', 9.0, 'Welcome!']

We can also use the built in function **current_list.append()** to add elements of other datatypes including lists.

In [40]:
A.append([1,2,3])

print(A)

[1, 2.0, 'HELLO', 'Hi', 9.0, 'Welcome!', [1, 2, 3]]

**Notice:** that append add the new list as one element where as ***extend*** combinesthe values within the list into the old list. To check this we can use len() to check the number of elements before and after append.

In [42]:
print("the length of A before APPEND", len(A))

A.append([8,9,10,11])

print("the length of A after APPEND", len(A))

print("-------------------------------------")

print("the length of A before EXTEND", len(A))

A.extend([8,9,10,11])
print("the length of A after EXTEND", len(A))

the length of A before APPEND 8
the length of A after APPEND 9
-------------------------------------
the length of A before EXTEND 9
the length of A after EXTEND 13

You can delete items in a list since they are mutable using **list.del(element_index).**

In [48]:
print("before deletion", Fruits)

del(Fruits[0])

print("after deleting first element", Fruits)

before deletion ['Strawberry', 'orange', 'banana']
after deletion ['orange', 'banana']

You can split a string into a list of item using **string_name.split()**

In [49]:
word1 = "Hello World"

print(word1.split())

['Hello', 'World']

You can also specify the split point in a string as an argument to the function split()

In [51]:
word2 = "my:name:is:hind"

print(word2.split(':'))

['my', 'name', 'is', 'hind']

-----------------------

Notice: If two list have the same reference, any modification to one list will affect the other as follows:

In [52]:
M = ['hello','hi']
N = M 

N[0] = 'Welcome'

print(M)

['Welcome', 'hi']

We can avoid this link by using cloning the items in the first list into the second list.

In [53]:
M = ['hello','hi'] 
N = M[:] 

N[0] = 'Welcome'

print(M)

['hello', 'hi']

--------------------------------------------------------

Now, let's create a tuple and see if we can modify it.

In [5]:
Colors =('blue','green','yellow')

print(type(Colors))
print(" all item in colors tuple", Colors)
print(" first item in colors tuple", Colors[0])
print(" last item in colors tuple", Colors[-1])

<class 'tuple'>
 all item in colors tuple ('blue', 'green', 'yellow')
 first item in colors tuple blue
 last item in colors tuple yellow

In [12]:
Colors[0] = "red"

TypeError: ignored

<mark>as seen above, an error message has occured when we tried to modify an element in the tuple.</mark> 

 Because tuple works by linking it to a reference in the memory, we can't modify the reference but we can assign completly new reference to the tuple as follows:

In [13]:
Colors =("red", "green","yellow")

print(Colors)

('red', 'green', 'yellow')

Now the tuple is assigned to new reference which has 'red' as first element!

### **To illustrate this more, let's say we want to sort a tuple, In this case, we need to create a new tuple to store the new sorted tuple elements.**

Notice: Use **sorted(tuple_name)** to sort elements in a tuple in ascending order

In [15]:
A = (6,9,1,3,7,2,1,2,4)
A_sorted = sorted(A)

print(A_sorted)

[1, 1, 2, 2, 3, 4, 6, 7, 9]

-------------------------------------------

### **Tuples can contain mixed data type**

In [6]:
numbers =("one", 2, 3.0)

print(numbers)

('one', 2, 3.0)

tuples also can include tuples datatype as an element. You can access values within tuples inside a tuple using tree structure.

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/index.png?raw=true)

In [25]:
C_mixed =((1,2,3), (Colors), ("hello", "world"))

print(C)

print("the first element of the tuple C_mixed-->", C_mixed[0])
print("the last element of the tuple C_mixed-->", C_mixed[-1])
print("the first element of the first tuple in C_mixed-->", C_mixed[0][0])
print("the last element of the first tuple in C_mixed-->", C_mixed[0][-1])
print("the second element of the last tuple in C_mixed-->", C_mixed[-1][1])

((1, 2, 3), ('red', 'green', 'yellow'), ('hello', 'world'))
the first element of the tuple C_mixed--> (1, 2, 3)
the last element of the tuple C_mixed--> ('hello', 'world')
the first element of the first tuple in C_mixed--> 1
the last element of the first tuple in C_mixed--> 3
the second element of the last tuple in C_mixed--> world

### **Tuples can be combined using addition symbol**

In [8]:

Colors_numbers=Colors+numbers

print(Colors_numbers)

('blue', 'green', 'yellow', 'one', 2, 3.0)

### **We can take slices from the tuple as in strings**

In [10]:
print(Colors_numbers[0:3])

('blue', 'green', 'yellow')

Notice: the last number is the slice is larger than the slice length by one

### **We can measure the length of a tuple using len function**

In [11]:
print("the length of the tuple colors is ", len(Colors))

the length of the tuple colors is  3

---------------------------------------------------------------------