<a href="https://colab.research.google.com/github/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython_Part3_Expression_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python _Part3

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython3.png?raw=true)

## *1- Printing statements:*
Printing statements and strings is done in python in very simple way. Just type the word print followed by parantheses(). In the tha parantheses, put the string that you want to type it between quatation mark (single or double)*

In [1]:
print("Hello World")

Hello World

If you mis-spelled print or forget the parentheses, error message will show. Notice, you should be able to understand the source of error from reading the error message recieved from python.

In [2]:
prent("Hello World")

NameError: ignored

*Error message is trying to tell you that the combiler doesn't recognize the word **prent** as a keyword or a known function*

In [4]:
print("hello World)

SyntaxError: ignored

If you forget one of the parentheses, an error message will appear saying you haven't put " at the **End of Line (EOL)**

----------------------------------

## *2- String Operations*

String is treated as a sequence of characters in python. If any character needs to accessed, simply refer to the index of letter starting from zero for the first letter.

**Notice:** white space is considered as character in python

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/String.png?raw=true)

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/string1.png?raw=true)

In [54]:
A = "Hello World"

Total_chars = len(A) #len(String) is a built in function in python that let you count no of characters in a given string

print("The First letter in Hello World is ", A[0])
print("The Second letter in Hello World is ", A[1])
print("The Last letter in Hello World is ", A[Total_chars - 1]) # we substracted 1 because the index of characters start from 0 


print("The Last letter in Hello World using negative indexes is", A[-1]) # simpler version is using negative index to refer to characters from the end of the string
print("The second to last letter in Hello World", A[-2])

The First letter in Hello World is  H
The Second letter in Hello World is  e
The Last letter in Hello World is  d
The Last letter in Hello World using negative indexes is d
The second to last letter in Hello World l

---------------------------------

### * **If you want to print strings with other datatypes, simply divide them with comma in the print statement.**

In [55]:
name = "Hind"
Age = 26


print("My name is", name, "and I am", Age, "years old")

My name is Hind and I am 26 years old

------------------------------------------------------------

### * **You can perform operation on parts of string by treating them as tuples or smaller sequences**

In [56]:
print("The first word in Hello world is", A[0:5]) 

# Notice: [0:6] means selecting characters from index 0 to index 5. Index 6 is excluded

The first word in Hello world is Hello

-----------------------------------------------

### * **You can jumb on indices using string_name[::num], where num is the length of the jumb between characters**

In [57]:
print("Printing characters every two characters in Hello World is ", A[::2])

Printing characters every two characters in Hello World is  HloWrd

----------------------------------------------------

### * **You can repeat a string using the multiplication operations**

In [58]:
3 * "Hello "

'Hello Hello Hello '

**Notice: Strings in python is immutable, meaning that characters can't be reassigned. We can only assign new reference to the string**

In [60]:
A[0] = "H"

TypeError: ignored

-------------------------------------------------------------------------

### * You can use **backslash \\** to enter difficult inputs. For example, if you want to write a sentence with new line, python doesn't reocngize it as white spaces doesn't affect execution. simply add one **\\n** to move to next line or \\t to add tap space.

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/aQ8nU.png?raw=true)

In [66]:
print("Backslash \n is an escape sequence in \t python")

Backslash
 is an escape sequence in 	 python

------------------------------------------------

### To captilize each letter in a string, use **string_name.upper()**

In [75]:
name1 = A.upper()
print("Capitalization and Assigning new variable --> ", name1)
print("Capitalization within print statement --> ", A.upper())
print(" Original Variable ---> ", A)

Capitalization and Assigning new variable -->  HELLO WORLD
Capitalization within print statement -->  HELLO WORLD
 Original Variable --->  Hello World

**Notice**: upper operation doesn't modifiy the original variable but treat it as new reference

-------------------------------------

### To replace part of string, you can use the built in replace method. It takes two arguments as --->  **string_name. replace("old word", "new word")**

In [77]:
name2 = A.replace("Hello", "Hi")
print (name2)

Hi World

### To find part of string, you can use the built in find method. It takes one arguments as --->  **string_name. replace("word")** and result in the first letter index

In [83]:
A.find("Wor")

6

##The End 

Thank You