<a href="https://colab.research.google.com/github/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython_Part4_Dictionaries_and_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python - Part5

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/IntroductionToPython_part5.png?raw=true)

## 1- Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. [1]

In dictionaries, keys are treated as index in lists and tuples

![](https://github.com/hindahmad431/Introduction_to_python/blob/master/Dictionary-Key-Value-Pairs-Illustration.png?raw=true)

### <mark> **Notice**: Keys must be immutable and unique. </mark>

In [33]:
MyFirstDict = {
    "name":"hind", 
    "age":26, 
    'job':'TA',
    'city':'jubail'
}

print(MyFirstDict)

{'name': 'hind', 'age': 26, 'job': 'TA', 'city': 'jubail'}

### **- Accessing items in Dictionaries:**

Simply refer to the key, and the dictionary will give its value.

In [6]:
print(" My name is", MyFirstDict['name'])

print(" I live in", MyFirstDict['city'])

 My name is hind
 I live in jubail

### **- Changing values in Dictionaries:**

if you need to change a value in a dictionary, refer to the key of that value and assign it to a new value.

In [7]:
MyFirstDict["name"] = 'Ahmad'

print(MyFirstDict)

{'name': 'Ahmad', 'age': 26, 'job': 'TA', 'city': 'jubail'}

### **- Adding values in Dictionaries:**


If you need to add value to a dictionary, simply add a new key to the dictionary and assign to it a value.

In [34]:
MyFirstDict['Education'] = 'MS in CS'

print(MyFirstDict)

{'name': 'hind', 'age': 26, 'job': 'TA', 'city': 'jubail', 'Education': 'MS in CS'}

### **- Deleting values in Dictionaries:**


If you need to delete value to a dictionary, use **Dictionary_name.pop('key')**

In [28]:
print("Before deletion ---> ", MyFirstDict)

MyFirstDict.pop('Education')

print("After deletion ---> ", MyFirstDict)

Before deletion --->  {'name': 'Ahmad', 'age': 26, 'job': 'TA', 'city': 'jubail', 'Education': 'MS in CS'}
After deletion --->  {'name': 'Ahmad', 'age': 26, 'job': 'TA', 'city': 'jubail'}

You can also use **Dictionary_name.popitem()** to remove the last item in the dictionary.

In [29]:
print("Before deletion ---> ", MyFirstDict)

MyFirstDict.popitem()

print("After deletion ---> ", MyFirstDict)

Before deletion --->  {'name': 'Ahmad', 'age': 26, 'job': 'TA', 'city': 'jubail'}
After deletion --->  {'name': 'Ahmad', 'age': 26, 'job': 'TA'}

### **- Checking and searching for values in Dictionaries:**

to search for specfic value and see if it exist in the dictionary, use the function in that return true if the key exist in the dictionary or false if not.

In [30]:
print('name' in MyFirstDict)

True

### **- Looping through Dictionary:**

In python, you need to use the following format to iterate through a function: 

### To print out keys in the dictionary --->

In [11]:
for x in MyFirstDict:
  print(x)

name
age
job
city
Education

In [35]:
for x in MyFirstDict.keys():
  print (x)

name
age
job
city
Education

### *To print out values in the dictionary -->*

In [12]:
for x in MyFirstDict:
  print(MyFirstDict[x])

Ahmad
26
TA
jubail
MS in CS

In [17]:
for x in MyFirstDict.values():
  print(x)

Ahmad
26
TA
jubail
MS in CS

### *To print out both keys & values in the dictionary -->*

In [16]:
for x, y in MyFirstDict.items():
  print(x,y)

name Ahmad
age 26
job TA
city jubail
Education MS in CS

### **Notice:** you can use any character or word instead on x. it just a reference that will define the looping variable.

### **- Using dict Constructor to build a dictionary:**

In python, you can build a dictionary in much easier way using the constructer **dict**.

In [36]:
MyDictionary = dict(name="hind", course ="math", university='IAU')

print(MyDictionary)

{'name': 'hind', 'course': 'math', 'university': 'IAU'}

Notice the two main differences in using the constructor to build a dictionary: 

1- no need to define keys as string 

2- you can use equal sign to assign values to keys

## 2- Sets

Sets are also type of collection as list and tuples. They also can have different data types. The different between sets and the others is that they are unordered, meaning that they doen't have an index that record their position in the collection. 

the main difference in the sets is that they can only have unique elements i.e. sets of positive numbers.

![](https://raw.githubusercontent.com/hindahmad431/Introduction_to_python/master/t%20(1).webp)

To define a set, you use curly brackets.

In [43]:
MySet = {1,2,3,4,5,6,7,8,9}

type(MySet)

set

In [42]:
print(MySet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
Set1 ={1,1,2,2,3}

print(Set1)

{1, 2, 3}

### **Notice:** that when we defined that set with duplicate items, the final set merged them into unique elements.

### ***- Converting a List into Set***

In [50]:
L = [1,1,2,3,3,3,4,5,6,6,6]

print("The List L ---> ", L)

S = set(L) #typecasting a list into set 

print("Converting List L into Set---> ", S)

The List L --->  [1, 1, 2, 3, 3, 3, 4, 5, 6, 6, 6]
Converting List L into Set--->  {1, 2, 3, 4, 5, 6}

### ***- Adding element to a Set***

In [51]:
S.add("hello")

print(S)

{1, 2, 3, 4, 5, 6, 'hello'}

### ***- removing element from a Set***

In [52]:
S.remove("hello")

print(S)

{1, 2, 3, 4, 5, 6}

### ***- checking if an element exist in a Set***

This step is done ,as in dictionaries, using the **In** function

In [54]:
print("Elements in set S ---> ", S)
print(1 in S)

print(-9 in S)

Elements in set S --->  {1, 2, 3, 4, 5, 6}
True
False

### ***- Union, Intersection, Substraction, Subsets***

In [58]:
A = {"hello","welcome", 1, -1, 0, 2}
B = {"School","hello", 1, -3, 9}

print("A union B ---> ", A.union(B) )
print("A union B ---> ", A & B)
print("A minus B ---> ", A - B)
print("is A subset of B ---> ", A.issubset(B))

A union B --->  {0, 1, 2, 9, 'welcome', 'School', 'hello', -3, -1}
A union B --->  {1, 'hello'}
A minus B --->  {0, 2, 'welcome', -1}
is A subset of B --->  False

Check https://www.programiz.com/python-programming/set for more examples on Sets

# The  End

[1] W3School, https://www.w3schools.com/python/python_dictionaries.asp